/* Makes dark orange color hexcode into a variable */
:root{
    --darkOrange: #ff3131
}

/* Makes peach color hexcode into a variable */
:root{
    --peachCream: #ffe9db
}

/* LOGO ADJUSTMENTS */
#logo-link{
    cursor: pointer;
}

#logo{
    margin-top: 0px;
    margin-left: 0px;
}

#flex-container {
    text-align: center;
    height: 135px;
    transition: 0s;
}

/* BANNER ADJUSTMENTS */
#banner{
    display: block;
    background-color: white;
    padding: 25px;
    margin-top: 5px;
    box-shadow: 0px 0px 0px rgb(221, 221, 221);
    transition: 0.6s;
}

#navbar ul{
    /* Gets rid of list bullet points */
    list-style-type: none;

    /* Changes background color of list elements */
    background-color: rgb(255, 255, 255);

    /* Removes any padding and margins */
    padding: 0px;
    margin: 0px;

    overflow: hidden;
}

#navbar a{
    /* Changes the color of the text */
    color: rgb(0, 0, 0);

    /* Removes underlines of list elements */
    text-decoration: none;

    /* Adds some padding */
    padding: 20px;

    /* Displays list as a block */
    display: block;

    /* Centers text */
    text-align: center;

    /* Changes Font and Font size of NavBar elements */
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;

    cursor: pointer;
}

/* Creates a bar below navbar elements and animates it */
#navbar a::after{
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--darkOrange);
    margin-top: 10px;
    transition: all ease-in-out 250ms;
}

#navbar a:hover::after{
    /* Controls how long animated bar is */
    width: 4%;
}

#navbar a:hover{
    /* Changes the color of the text when hovered on */
    color: var(--darkOrange);
}

.list-container{
    /* Centers Navigation Bar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    margin-right: 0px;
    
}

.horizontal-list {
    /* Makes Navigation Bar Horizontal */
    display: flex;
    list-style: none;
    gap: 25px;
}

/* Makes Header stick to the top of the website when you scroll */
.sticky {
    position: sticky;
    top: 0%;
}

@media screen and (max-width:700px) {
    
}

main{
    background-color: rgb(245, 245, 245);
}

body{
    margin: 0px;
}